@import "reset"

body
  font-size 16px
  font-family sans-serif
  padding 20px

.hero
  text-align: center
  margin-left auto
  margin-right auto

.circle
  width:100px
  height:100px
  border-radius:50px
  font-size:20px
  color:#fff
  line-height:100px
  text-align:center
  background:#000
  display: inline-block
  margin: 20px

.dem
  visibility: hidden

.container
  display: inline-block;
